<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Home Page</title>
    <script src="https://kit.fontawesome.com/7947083dcd.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <! <p>
      Hello, Gautham!
    </p> 
    <p>
      Organ Transplant Management System
    </p>
  </header>
  <div class="container">
    <div class="split left">
      <h1><i class="fas fa-angle-double-left"></i> Donate Now</h1>
      <a href="{{ url_for('donate') }}" class="button">Click Here</a>
    </div>
    <div class="split right">
      <h1>Procure Now <i class="fas fa-angle-double-right"></i></h1>
      <a href="{{ url_for('procure') }}" class="button">Click Here</a>
    </div>
  </div>
      <script src="static\2_split.js"></script>
</body>
</html>